html, body {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: 'Roboto', sans-serif;
  font-variant-ligatures: none;
  text-size-adjust: 100%;
  font-style: normal;
  font-kerning: none;
  font-weight: 400;
  font-size: 16px;

  background-color: #000000;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
  color: #e1e1e1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

video, canvas {
  transform: scaleX(-1);
  position: absolute;
  -ms-filter: fliph;
  display: block;
  filter: fliph;

  margin: auto;
  padding: 0;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

div > canvas {
  position: relative;
  -ms-filter: none;
  transform: none;
  filter: none;
}

div.start-container {
  transition: opacity 0.3s;
  pointer-events: none;
  position: absolute;
  display: block;
  margin: auto;

  height: 35px;
  width: 125px;
  opacity: 0;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

div.start-container.visible {
  transition-delay: 0.5s;
  pointer-events: all;
  opacity: 1;
}

button {
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  border: 1px solid #e1e1e1;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  color: #e1e1e1;
  cursor: pointer;
  display: block;
  
  height: 35px;
  width: 125px;
  
  outline: 0;
  z-index: 1;

  padding: 0;
  margin: 0;
}

button:hover {
  background-color: #e1e1e1;
  color: #000000;
}

div.intensity-container {
  transition: opacity 0.3s 0.5s;
  pointer-events: none;
  position: absolute;

  display: block;
  margin: auto;
  opacity: 0;

  width: 250px;
  height: 28px;

  bottom: 5%;
  right: 0;
  left: 0;
}

div.intensity-container.visible {
  pointer-events: all;
  opacity: 1;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #e1e1e1;

  border-radius: 20px;
  cursor: pointer;

  height: 4px;
  width: 100%;
  border: 0;
}

input[type=range]::-moz-range-track {
  background-color: #e1e1e1;

  border-radius: 20px;
  cursor: pointer;

  height: 4px;
  width: 100%;
  border: 0;
}

input[type=range]::-ms-fill-lower {
  background-color: #e1e1e1;
  border-radius: 40px;
  cursor: pointer;
  border: 0;
}

input[type=range]::-ms-fill-upper {
  background-color: #e1e1e1;
  border-radius: 40px;
  cursor: pointer;
  border: 0;
}

input[type=range]::-ms-track {
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
  cursor: pointer;

  height: 4px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #ffffff;
  -webkit-appearance: none;
  border-radius: 50%;
  appearance: none;

  margin-top: -4px;
  cursor: pointer;

  height: 12px;
  width: 12px;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  background-color: #ffffff;
  -moz-appearance: none;
  border-radius: 50%;
  appearance: none;

  margin-top: -4px;
  cursor: pointer;

  height: 12px;
  width: 12px;
  border: 0;
}

input[type=range]::-ms-thumb {
  background-color: #ffffff;
  border-radius: 50%;

  margin-top: -4px;
  cursor: pointer;

  height: 12px;
  width: 12px;
  border: 0;
}
